<?xml version="1.0" encoding="utf-8"?>
<!-- BEGIN_INCLUDE(manifest) -->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.classiclient.android.client"
    android:versionCode="1010"
    android:versionName="1.0.1">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="18" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18" />
  <uses-sdk
      android:minSdkVersion="8"
      android:targetSdkVersion="26"/>
  
  <application
      android:icon="@mipmap/ccicon"
      android:label="ClassiClient">
    <provider
        android:name="com.classicube.CCFileProvider"
        android:authorities="com.classiclient.android.client.provider"
        android:exported="false"
        android:grantUriPermissions="true"/>
    <!--NOTE: authorities must be [package].provider, otherwise CCFileProvider doesn't behave properly -->

    <activity
        android:name="com.classiclient.MainActivity"
        android:label="ClassiClient"
        android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
        android:exported="true">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

</manifest>
<!-- END_INCLUDE(manifest) -->
